html body {
    background: #e9eaec;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    padding-top: 70px;
}

a:hover {
    color: navy;
    text-decoration: none;
}

a {
    color: #333333;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-decoration: none;
}



/*Navbar*/

.nav li {
    font-size: 18px;
}

.navbar-brand img {
    height: 25px;
    vertical-align: middle;
    text-align: center;
}

.navbar-brand {
    line-height: 50px;
}


/*navbar*/


/*Index Page CSS*/

div.article {
    overflow: hidden;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
}

div.article_right {
    padding-left: 13px;
    overflow: hidden;
}

div.article_left {
    float: left;
    position: relative;
}

div.article_img img {
    width: 180px;
    height: 120px;
}

div.article_category {
    position: absolute;
    top: 0;
    left: 0;
    background: #ff6161;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 14px;
}

div.article_title {
    font-size: 18px;
    font-weight: 600;
    word-break: break-all;
    word-wrap: break-word;
}

div.article_summary {
    color: #666666;
    padding: 6px 0 6px 0;
    min-height: 78px;
    line-height: 1.75em;
    font-size: 14px;
}

div.article_keywords {
    float: left;
}

a.keyword_search {
    margin-right: 12px;
}

div.article_pubdate {
    float: right;
}

div.extra_properties {
    overflow: hidden;
}

@media (max-width: 500px) {
    div.article_right {
        clear: left;
        padding: 13px 0 0 0;
    }
    div.article_left {
        clear: right;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        position: relative;
    }
    div.article_img img {
        width: 100%;
        height: 190px;
    }
    /*  div.article_title {
        position: absolute;
        top: 20%;
        padding: 8px;
        background: black;
        color: white;
    }*/
}

div.trending_articles {
    overflow: hidden;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
}

div.trending_articles h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e3e4e8;
    padding-bottom: 4px;
}

div.trending_articles li {
    font-size: 15px;
    margin-top: 10px;
    height: 24px;
    overflow: hidden;
}

ul.liked_posts {
    margin: 0;
    -webkit-padding-start: 0px;
}
/*Index Page CSS*/


/*Detail Page CSS*/

div.detail_article_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

div.article_content {
    overflow: hidden;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
}

div.article_detail {
    font-size: 17px;
    line-height: 1.8;
    word-break: break-all;
    word-wrap: break-word;
    margin: 12px 0 12px 0;
}

div.article_navigation {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    padding-top: 36px;
}

div.article_navigation a {
    color: #666;
    display: inline-block;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}

div.article_navigation a:visited {
    text-decoration: none;
    outline: none;
}

div.article_navigation a:link {
    text-decoration: none;
    outline: none;
}

div.article_navigation a:hover {
    color: white;
    background: teal;
}

p {
    text-indent: 2em;
}

div.like_article img,
div.like_article a {
    height: 24px;
}
