{% extends "base.html" %} 
{% block head %}
	<title>{{ post.title}}</title>
	{{super()}}
{% endblock%}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="article_content">
                <div class="detail_article_title">
                    {{post.title}}
                </div>
				<div class="row">
					<div class="article-source col-md-3">
	                    来源：{{ post.source}}
	                </div>
					<div class="article-pubdate col-md-6">
	                    {# {% if moment(post.timestamp).fromNow() > 2 %} 
	                    {{moment(post.timestamp).format('LL')}} 
	                    {% else %} 
	                    {{moment(post.timestamp).fromNow()}} 
	                    {% endif %} #} 
	                    发布时间：{{moment(post.timestamp, local=True).format("YYYY-MM-DD hh:mm")}}  

	                </div>

				</div>
                <div class="article_body">
                    {{ post.body_html | safe }} {# The | safe suffix when rendering the HTML body is there to tell Jinja2 not to escape the HTML elements. #}
                </div>


            <div class="share_like col-md-12">
    			<div class="like_article col-md-6">
    				<a href="{{ url_for('like', id=post.id) }}"><img src="{{url_for('static', filename='img/up.png')}}" alt=""></a>
    				<span>
    				{{post.likes}}
    				</span>
    			</div>
    			<div class="share_article col-md-6">
    				分享至社交媒体
    			</div>
    		</div>

    		<div class="article_navigation row">
                    <div class="article_prev col-md-6">
                        {% if article_prev %}
                        <a href="{{ url_for('article', id=article_prev.id, date=article_prev.date, _external=True) }}" title="{{article_prev.title}}">上一篇：{{article_prev.title}}</a> {% endif %}
                    </div>
                    <div class="article_next col-md-6">
                        {% if article_next %}
                        <a href="{{ url_for('article', id=article_next.id, date=article_next.date, _external=True) }}" title="{{article_next.title}}">下一篇：{{article_next.title}}</a> {% endif %}
                    </div>
            </div>
    </div>



        </div>

    	<div class="col-md-4">
    		
    		<div class="trending_articles">
	    		<h3>推荐阅读</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>


    		<div class="trending_articles">
	    		<h3>今日热门</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>	
    		<div class="trending_articles">
	    		<h3>一周排行</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>	
    		<div class="trending_articles">
	    		<h3>评论最多</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>	

    	</div>
    </div>



</div>
    {{ super() }}
{% endblock %} 


