{% extends "bootstrap/base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
<title>{{post.title}}</title>
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">65News</a> </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
   
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
            </ul>
        </div>
    </div>
</div>
{% endblock %} 


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="article_content">

				<div class="article_title">
					{{post.title}}
				</div>
				<div class="article-pubdate">
				{# {% if moment(post.timestamp).fromNow() > 2 %}
					{{moment(post.timestamp).format('LL')}}
					{% else %}
					{{moment(post.timestamp).fromNow()}}
				{% endif %} #}
				{{moment(post.timestamp, local=True).format('LLL')}}

				{# choose a better format #}
				</div>
			<div class="article-source">
				来源：{{ post.source}}
			</div>
			<div class="article_body">
					{{ post.body_html | safe }} 
					{# The | safe suffix when rendering the HTML body is there to tell Jinja2 not to escape the HTML elements.  #}
			</div>

					<div class="article_navigation row">
			<div class="article_prev col-md-6">
				{% if article_prev %}
					<a href="{{ url_for('article', id=article_prev.id, date=article_prev.date, _external=True) }}" title="{{article_prev.title}}">上一篇：{{article_prev.title}}</a>
				{% endif %}
			</div>

			<div class="article_next col-md-6">
				{% if article_next %}
					<a href="{{ url_for('article', id=article_next.id, date=article_next.date, _external=True) }}" title="{{article_next.title}}">下一篇：{{article_next.title}}</a>
				{% endif %}
			</div>
		</div>
		</div>


		</div>

		<div class="col-md-4"></div>
	</div>	
</div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    {{moment.include_moment()}}
    {{ moment.lang('zh-CN')}}
{% endblock %}
