{% extends "base.html" %}

{% block head %}
	{% if category %}
		<title>65News - {{category}}</title>
		{% else %}
		<title>65News - 首页</title>
	{% endif %}
	{{super()}}
{% endblock%}

{% block content %}
    <div class="container">
    {% for message in get_flashed_messages() %} 
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
        {% block page_content %}

    <div class="row">
    	<div class="col-md-8">
		{% for post in posts %}
		<div class="article">
			<div class="article_left">
				<div class="article_img ">
					<img src="{{post.img_href}}" alt="" class="img-responsive">
				</div>
				<div class="article_category" style="
				{% if post.category == '新闻' %}background:teal;
					{% elif post.category == '行业'%} background: navy;
					{% elif post.category == '政策'%} background: purple;
					{% elif post.category == '百科'%} background: brown;
				{% endif %}">
					{{ post.category }}
				</div>
			</div>	
			<div class="article_right">
				<div class="article_title">
				<a href="{{url_for('article', id=post.id, date=post.date, _external=True)}}">{{post.title}}</a>
				</div>
				<div class="article_summary">
					{{post.summary}}
				</div>
				<div class="extra_properties">
					<div class="article_keywords">
						{% for keyword in post.keywords.split(',') %}
							<a href="" class="keyword_search">{{keyword}} </a>
							{# split the keywords using the split() method is easy #}
						{% endfor %}
						
					</div>
					<div class="article_pubdate">
{# 						{% if moment(post.timestamp) %}
						
							{{moment(post.timestamp).format('L')}}
							{% else %}
							{{moment(post.timestamp).fromNow()}}
						{% endif %} #}
						{{moment(post.timestamp, local=True).fromNow()}}

						{# {{moment(post.timestamp).fromNow()}} #}
					</div>
				</div>
			</div>


			</div>
		{% endfor %}

		<div class="pagniation">
			{% if category %}
				{{ macros.pagination_widget(pagination, 'sections', category=category)}}
				{% else %}
				{{ macros.pagination_widget(pagination, 'index')}}

				{# reuse the index template for sections of stories like industry, market, companies #}
			{% endif %}
		</div>
    	</div>

    	<div class="col-md-4">
    		
    		<div class="trending_articles">
	    		<h3>推荐阅读</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>


    		<div class="trending_articles">
	    		<h3>今日热门</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>	
    		<div class="trending_articles">
	    		<h3>一周排行</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>	
    		<div class="trending_articles">
	    		<h3>评论最多</h3>
	    		<ul class="liked_posts">
	    		{% for post in liked_posts %}
	    			<li><a href="{{url_for('article', id=post.id, date=post.date)}}">{{post.title}}</a></li>
	    		{% endfor %}
	    		</ul>
    		</div>	
    	</div>
	


	</div>

            
        {% endblock %}
    </div>

    {{ super() }}

{% endblock %}



